<div class="row justify-content-center g-0">
    <div class="col-md-4 col-sm-12">
        <div class="row  justify-content-end">
            <div class="col-xl-8 col-lg-11">
                <div style="margin-bottom: 1.1875rem">
                    <mat-accordion class="expansion">
                        <mat-expansion-panel [expanded]="true">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Category
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="filters">
                            <mat-checkbox class="example-margin">Electronics</mat-checkbox>
                            <mat-checkbox class="example-margin">Business & Industrial</mat-checkbox>
                            <mat-checkbox class="example-margin">Cell Phones & Smartphones</mat-checkbox>
                            <mat-checkbox class="example-margin">Cell Phones & Smartphones</mat-checkbox>
                            <mat-checkbox class="example-margin">Cell Phones & Smartphones</mat-checkbox>
                            <mat-checkbox class="example-margin">Expiring Soon</mat-checkbox>
                            <mat-checkbox class="example-margin">Most Rated</mat-checkbox>
                          </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                </div>
                  <mat-accordion class="expansion">
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            Expanded Filters
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="filters">
                        <mat-checkbox class="example-margin">Price 100 → 300</mat-checkbox>
                        <mat-checkbox class="example-margin">Price 200 → 400</mat-checkbox>
                        <mat-checkbox class="example-margin">Price 300 → 500</mat-checkbox>
                        <mat-checkbox class="example-margin">Price 400 → 600</mat-checkbox>
                        <mat-checkbox class="example-margin">Price 500 → 700</mat-checkbox>
                        <mat-checkbox class="example-margin">Price 600 → 800</mat-checkbox>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7 col-sm-12">
        <div class="products">
            <mat-form-field appearance="outline">
                <mat-label>SORT BY</mat-label>
                <mat-select>
                    <mat-option [value]="">Default</mat-option>
                  <mat-option value="low">Low Price</mat-option>
                  <mat-option value="high">High Price</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="list">
                <div class="product">
                    <img src="https://5.imimg.com/data5/IW/KD/MY-18371619/sega-shoose-500x500.jpg" alt="">
                    <div class="text">
                        Vintage Typewriter to post awesome stories about UI design and webdev.
                    </div>
                    <div class="price">
                        $49.50
                    </div>
                    <div class="desc">
                        Eligible for Shipping To Mars or somewhere else
                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="rates">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <button class="watch">Watch</button>
                    </div>
                </div>

                <div class="product">
                    <img src="https://5.imimg.com/data5/IW/KD/MY-18371619/sega-shoose-500x500.jpg" alt="">
                    <div class="text">
                        Vintage Typewriter to post awesome stories about UI design and webdev.
                    </div>
                    <div class="price">
                        $49.50
                    </div>
                    <div class="desc">
                        Eligible for Shipping To Mars or somewhere else
                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="rates">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <button class="watch">Watch</button>
                    </div>
                </div>

                <div class="product">
                    <img src="https://5.imimg.com/data5/IW/KD/MY-18371619/sega-shoose-500x500.jpg" alt="">
                    <div class="text">
                        Vintage Typewriter to post awesome stories about UI design and webdev.
                    </div>
                    <div class="price">
                        $49.50
                    </div>
                    <div class="desc">
                        Eligible for Shipping To Mars or somewhere else
                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="rates">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <button class="watch">Watch</button>
                    </div>
                </div>

                <div class="product">
                    <img src="https://5.imimg.com/data5/IW/KD/MY-18371619/sega-shoose-500x500.jpg" alt="">
                    <div class="text">
                        Vintage Typewriter to post awesome stories about UI design and webdev.
                    </div>
                    <div class="price">
                        $49.50
                    </div>
                    <div class="desc">
                        Eligible for Shipping To Mars or somewhere else
                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="rates">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <button class="watch">Watch</button>
                    </div>
                </div>

                <div class="product">
                    <img src="https://5.imimg.com/data5/IW/KD/MY-18371619/sega-shoose-500x500.jpg" alt="">
                    <div class="text">
                        Vintage Typewriter to post awesome stories about UI design and webdev.
                    </div>
                    <div class="price">
                        $49.50
                    </div>
                    <div class="desc">
                        Eligible for Shipping To Mars or somewhere else
                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="rates">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <button class="watch">Watch</button>
                    </div>
                </div>

                <div class="product">
                    <img src="https://5.imimg.com/data5/IW/KD/MY-18371619/sega-shoose-500x500.jpg" alt="">
                    <div class="text">
                        Vintage Typewriter to post awesome stories about UI design and webdev.
                    </div>
                    <div class="price">
                        $49.50
                    </div>
                    <div class="desc">
                        Eligible for Shipping To Mars or somewhere else
                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="rates">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <button class="watch">Watch</button>
                    </div>
                </div>

                <div class="product">
                    <img src="https://5.imimg.com/data5/IW/KD/MY-18371619/sega-shoose-500x500.jpg" alt="">
                    <div class="text">
                        Vintage Typewriter to post awesome stories about UI design and webdev.
                    </div>
                    <div class="price">
                        $49.50
                    </div>
                    <div class="desc">
                        Eligible for Shipping To Mars or somewhere else
                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="rates">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <button class="watch">Watch</button>
                    </div>
                </div>

                <div class="product">
                    <img src="https://5.imimg.com/data5/IW/KD/MY-18371619/sega-shoose-500x500.jpg" alt="">
                    <div class="text">
                        Vintage Typewriter to post awesome stories about UI design and webdev.
                    </div>
                    <div class="price">
                        $49.50
                    </div>
                    <div class="desc">
                        Eligible for Shipping To Mars or somewhere else
                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="rates">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <button class="watch">Watch</button>
                    </div>
                </div>

                <div class="product">
                    <img src="https://5.imimg.com/data5/IW/KD/MY-18371619/sega-shoose-500x500.jpg" alt="">
                    <div class="text">
                        Vintage Typewriter to post awesome stories about UI design and webdev.
                    </div>
                    <div class="price">
                        $49.50
                    </div>
                    <div class="desc">
                        Eligible for Shipping To Mars or somewhere else
                    </div>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="rates">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <button class="watch">Watch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>