.product{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 1rem;
    border-radius: 8px;
    transition-duration: .1s;
    margin-bottom: 1rem;
    cursor: pointer;
    min-width: 259px;
    width: 259px;
    min-height: 472px;
    height: 472px;
    img{
        width: 100%;
        margin-bottom: 0.75rem;
        height: 14rem;
        object-fit: contain;
    }
    .text{
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.0275em;
        color: $gray-100;
        margin-bottom: 0.5rem;
        line-height: 150%;
    }
    .price{
        font-weight: 700;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.87);
        line-height: 150%;
        margin-bottom: 0.5rem;
    }
    .desc{
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 143%;
        display: flex;
        align-items: center;
        letter-spacing: 0.018em;
        color: $gray-50;
        margin-bottom: 0.5rem;
    }
    .watch{
        background: #FFFFFF;
        border: 1px solid #9DC2FF;
        border-radius: 4px;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 143%;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: 0.018em;
        color: #2264D1;
        padding: 0.25rem 0.75rem;
        width: 5.5rem;
        height: 2rem;
        justify-content: center;
    }
}
.product:hover{
    box-shadow: 0px 2px 15px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
}