/* You can add global styles to this file, and also import other style files */
html {
    font-size: 16px;
  }
  @media (max-width: 900px) {
    html { font-size: 14px !important; }
  }
  
  @media (max-width: 400px) {
    html { font-size: 10px !important; }
  }
  * {
    box-sizing: border-box;
  } 
  
html, body { height: 100%;overflow-x: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import  '~bootstrap/scss/bootstrap';


@import './assets/general/checkbox.scss';
@import './assets/general/customInput.scss';
@import './assets/general/rates.scss';


@media screen and (max-width: 430px) {
  .d-m-none{
    display: none !important;
  }
}

button:disabled{
  opacity: .5;
}